<div>
	<div class="inline">
		<img src="dependencies/img/segmentIcon.png" alt="">
		<h3>IOS App</h3>
	</div>
	<div class="inline">
		<img src="dependencies/img/segmentIcon.png" alt="">
		<h3>Folder</h3>
	</div>
	<div class="inline">
		<img src="dependencies/img/componentsIcon.png" alt="">
		<h3>Components</h3>
	</div>
	<div class="inline">
		<img class="smaller" src="dependencies/img/classIcon.png" alt="">
		<h3>Class</h3>
	</div>
	<div class="inline">
		<img class="smaller"  src="dependencies/img/htmlIcon.png" alt="">
		<h3>HTML File</h3>
	</div>
	<div class="inline">
		<img class="smaller" src="dependencies/img/jsIcon.png" alt="">
		<h3>JS File</h3>
	</div>
	<div class="inline">
		<img src="dependencies/img/cssIcon.png" alt="">
		<h3>StyleSheet</h3>
	</div>
	<div class="inline">
		<img src="dependencies/img/plainIcon.png" alt="">
		<h3>Other (plain)</h3>
	</div>
	<hr>
	<h3 style="font-size: 1.4vw !important;">File name (without extension):</h3>
	<input type="text" class="smart" id="create-item-input" onkeypress="return runScript(event,'newItem')">
	<button class="smart material-icons" id="create-item-button">done</button>
</div>