
		<div id="sideBar_left">
			<div id="tree"></div>
		</div>

		<div id="getStartedBox" class="blur spacebox">
			<div id="form_create_project">
				<h1> hydrogen </h1>  
				<h5> Lets begin by entering the details </h5>
				<h3 class="inline">Project Name</h3> <input type="text" id="new-project-name"> <br>
				<a class="btn primary" onclick="createProject(document.getElementById('new-project-name').value);">Create</a>
			</div>
		</div>

		<div id="topbar" class="appHandle">
			<a href="#" class="material-icons cmdhover" id="cmd_run" data-label="Run">play_arrow</a>
			<a href="#" class="material-icons cmdhover" id="cmd_build" data-label="Build">archive</a>
			<div class="groupy">
				<a href="#" class="material-icons cmdhover" id="cmd_undo" data-label="undo">undo</a>
				<a href="#" class="material-icons cmdhover" id="cmd_redo" data-label="redo">redo</a>
			</div>
			<a href="#" class="material-icons cmdhover" id="cmd_newitm" data-label="Create new item">widgets</a>
			<a href="#" class="material-icons cmdhover" id="cmd_addmedia" data-label="Add media">assistant</a>
			<div class="groupy">
				<a href="#" class="material-icons cmdhover" id="cmd_projsel" data-label="Go back to Project Select">chrome_reader_mode</a>
				<a href="#" class="material-icons cmdhover" id="cmd_save" data-label="Save">save</a>
				<a href="#" class="material-icons cmdhover" id="cmd_delete" data-label="Delete File">delete</a>
			</div>

			<ul class="breadcrumb">
				<li><a href="#">dev</a></li>
				<li><a href="#">workspace</a></li>
				<li>file.unknown</li>
			</ul>
		</div>

		<!-- <div id="topnav">
			<ul class="breadcrumb">
				<li><a href="#">dev</a></li>
				<li><a href="#">workspace</a></li>
				<li>file.unknown</li>
			</ul>
		</div> -->


<div id="editor"></div>
<iframe src="about:blank" class="liveEditor bye"></iframe>

<div id="sideBar_right">
	<input type="text" id="searchBar">
	<div id="searchResults"></div>
</div>



<div id="bottomBar"></div>

		<script type="text/javascript" src="assets/src-noconflict/ace.js"></script>
<script src="assets/src-noconflict/ext-language_tools.js" type="text/javascript" charset="utf-8"></script>
<script>	
	win.maximize();
	var editor = ace.edit("editor");
	editor.setTheme("ace/theme/xcode");
	editor.getSession().setMode("ace/mode/javascript");
	editor.setShowPrintMargin(false);
	ace.require("ace/ext/language_tools");
	editor.$blockScrolling = Infinity;
	editor.setOptions({
		enableBasicAutocompletion: true,
		enableSnippets: true,
		enableLiveAutocompletion: true
	});
	$('#editor').css({
		"zIndex":"1"
	});

	if (nextMove == "continue"){
		remove_CreatePanel();
	}

	$('#searchBar').keyup(function(){
		showSearchResults($('#searchBar').val());
	});

	$('#searchBar').blur(function(){
		setTimeout(function(){hideSearchResults();},200);
	});

	setInterval(function(){
		var undoLimit = editor.getSession().getUndoManager().$undoStack.length;
		var redoLimit = editor.getSession().getUndoManager().$redoStack.length;

		$("#cmd_undo").prop("disabled", (undoLimit == 0) );
		$("#cmd_redo").prop("disabled", (redoLimit == 0) );

		if ( $("#cmd_undo").prop("disabled") == true ){
			$("#cmd_undo").attr("disabled","");
		}
		else{
			$("#cmd_undo").removeAttr("disabled");
		}

		if ( $("#cmd_redo").prop("disabled") == true ){
			$("#cmd_redo").attr("disabled","");
		}
		else{
			$("#cmd_redo").removeAttr("disabled");
		}

	},500);
</script>

<div id="drawbar" style="
	position: fixed;
	height: 20%;
	width: 100%;
	background: gray;
	z-index: 99;
	top: 40%;
	box-shadow: 0px 0px 20px gray;
	text-align: center;
">
<br>
  <h2 style="color:white">Loading. . .</h2>
  <br>
  <div class="progressbar" style="
	width: 50%;
	height: 10px;
	background: white;
	border-radius: 8px;
	left: 25%;
	position: relative;
	top: 5px;
">
	  <div class="bar" style="
	position: relative;
	width: 50%;
	background: gainsboro;
	height: 10px;
	border-radius: 8px;
"></div>
  </div>
  <h3 style="
	margin-top: 25px !important;
	color: white;
	font-size: 12px;
">Compiling project</h3>
</div>
